.shop{
    background-color:palegoldenrod;
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.items-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: aliceblue;
}

.item{
    background-color: teal;
    border: 1px solid floralwhite;
    text-align: center;
}

img{
    width: 25%;
    height: 35%;
}