
main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex: 1 1 100%;
    /* justify-content: center; */
    align-items: center;
    background-color: rgb(250, 162, 0);
}

div.intro{
    border: 1px solid rgb(61, 7, 1);
}

p{
    
}